<div class="row start-md around-xs co_creation_practice_partial">
    <div class="col-md-3 col-xs-12"><a href="{{'stakeholder-mapping'|page}}">Stakeholder Engagement in the Co-design of Nature-based Solutions: Experiences from the CLEVER Cities project</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'co-implementation'|page}}">Making space for nature grant programme</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'communicating-target-groups'|page}}">Engaging communities with nature based activities</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'addressing-digital-divide'|page}}">Co-creation guide for urban regeneration; co-creation methodological framework; co-creation action description and social workshop results</a></div>
</div>
