<div class="row around-xs how_monitor_partial">
    <div class="col-md-3 col-xs-12"><a href="{{'principles-on-how-to-montitor'|page}}">Principles on how to montitor</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'principles-long-term-plans'|page}}">Principles long-term plans</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'choosing-narrative'|page}}">Choosing narrative</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'evaluation-kpi-system'|page}}">Evaluation KPI system</a></div>

</div>
