<div class="row start-md around-xs how_co_create_partial">
    <div class="col-md-3 col-xs-12"><a href="{{'stakeholder-mapping'|page}}">Stakeholder mapping</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'co-implementation'|page}}">Co-implementation</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'communicating-target-groups'|page}}">Communicating target groups</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'addressing-digital-divide'|page}}">Addressing digital divide</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'utilising-advisories'|page}}">Utilising advisories</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'evaluating-co-creation-process'|page}}">Evaluating co-creation process</a></div>
</div>
