<div class="row start-md around-xs making_the_case_partial">
    <div class="col-md-3 col-xs-12"><a href="{{'cross-region-solution-sheet'|page}}">Cross region solution sheet</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'clever-solutions-basket'|page}}">Clever solutions basket</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'comparing-metrics'|page}}">Comparing metrics</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'novel-technologies'|page}}">Novel technologies</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'utilising-existing-tools'|page}}">Utilising existing tools</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'influencing-policy-makers'|page}}">Influencing policy makers</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'business-model-canvas'|page}}">Business model canvas</a></div>
</div>
