<div class="row around-xs positioning_partial">
    <div class="col-md-3 col-xs-12"><a href="{{'nbs-roadmap'|page}}">NBS roadmap</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'policies-guidance'|page}}">Policies guidance</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'nbs-platform'|page}}">NBS platform</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'success-factors'|page}}">Success factors</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'nbs-planning-tools-catalogue'|page}}">NBS planning tools catalogue</a></div>
</div>
