<div class="row start-md around-xs what_monitor_partial">
    <div class="col-md-3 col-xs-12"><a href="{{'thermal-comfort'|page}}">Thermal comfort</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'health-well-being'|page}}">Health & well-being</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'knowledge-awareness'|page}}">Knowledge & awareness</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'participation-nbs-use'|page}}">Participation & NBS use</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'security'|page}}">Security</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'social-interaction'|page}}">Social interaction</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'quantification-green-areas'|page}}">Quantification green areas</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'biodiversity'|page}}">Biodiversity</a></div>
</div>
