<div class="row start-md around-xs why_co_create_partial">
    <div class="col-md-3 col-xs-12"><a href="{{'what-does-it-mean'|page}}">What does it mean</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'why-co-create'|page}}">Why co-create</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'co-benefits-impact-indicators'|page}}">Co-benefits impact indicators</a></div>
    <div class="col-md-3 col-xs-12"><a href="{{'adding-value-by-including-citizens'|page}}">Adding value by including Citizens</a></div>
</div>
